.cadastrar-produto {
  padding: 0; 
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
  background-color: #131010; 
  justify-content: center; 
  align-items: center; 
}

.form-container {
  margin: 0 ; /* Centraliza horizontalmente */
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 60%; /* Ajuste a largura conforme necessário */
  border: 2px solid #ddd;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  height: 100%;
  background-color: #333; /* Fundo escuro */
  color: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 10;
}

.sidebar.open {
  left: 0;
}
hr {
  margin-bottom: 5px;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link .icon {
  margin-right: 10px;
}

.nav-link:hover, .nav-link.active {
  background-color: #444; 
}

.logout-button {
  margin-top: 15px;
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #c0392b;
}

.sidebar-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 15;
  transition: background-color 0.3s ease;
}

.sidebar-toggle:hover {
  background-color: #5b54e7;
}


.cadastrar-produto.sidebar-open {
  padding-left: 250px;
}



.form-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #6c63ff;
}

button.submit-btn {
  background: #6c63ff;
  color: #fff;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px auto 0; 
  display: block; 
}

button.submit-btn:hover {
  background: #5b54e7;
}
